.about {
    background-color: #efefef;
    padding-top: 4rem;
}

.about h2 {
    text-align: center;
    color: darkcyan;
}

.about .homer {
    height: 250px;
    border-radius: 50%;
    border:1px solid #cfd2d5;
    margin-bottom: 12px;
}

.about button {
    margin-top: 12px;
}