.navbar  {
    display: flex;
    align-items: center;
    padding-left: 12px !important;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    flex: 1;
}

.navbar ul li {
    width: 60px;
    margin:0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #394e5f;
}

.navbar ul li a:hover {
    color: tomato;
    font-weight: 600;
    cursor: pointer;
}

.navbar .title {
    font-size: 20px;
    font-weight: bold;
}

.navbar .cart-container {
    margin-left: auto;
}

.navbar .cart-container i {
    margin-right: 5px;
}